/* CSS DOCUMENT */

body {
    background-color: rgb(240, 230, 200);
}

h1 {
    color: rgb(100, 100, 100);
    font-family: serif;
    font-size: 3.2em;
    margin: 1em 0em 1em 0em;
    background-color: rgb(255, 255, 255);
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}

h2 {
    color: rgb(80, 120, 140);
    margin: 0em 0em 0em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    border: 1.5px solid;
    border-color: rgb(80, 120, 140);
}

h3 {
    background-color: rgb(255, 255, 255);
    margin: 3em 0em 0em 0em;
    padding: 0.25em 0em 0.25em 0.25em;
    color: rgb(50, 110, 140);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.5em;
}

h4 {
    padding: 0.25em 0em 0em 0em;
    margin-bottom: 0em;
    text-transform: uppercase;
    font-family: sans-serif;
    color: rgb(100, 100, 100);
}

ul {
    padding-left: 2em;
}

li {
    list-style: none;
}

p {
    margin: 0em 0em 0em 0em;
    font-family: sans-serif;
    color: rgb(50, 110, 140);
}
