/* CSS DOCUMENT */

body {
    background-color: rgb(120, 120, 150);
}


h1 {
    color: rgb(25, 25, 200);
    font-size: 3em;
    margin: 1em 2em 1em 2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    
}

h2 {
    color: rgb(0, 0, 255);
    
}
