/*CSS DOCUMENT*/


html, body, div, span, applet, object, iframe,h1, h2, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {
    width: 100%; /*Please leave this line.*/
}

@font-face {
    font-family: ITC Avant Garde Gothic Pro;
    src: url(https://fonts.adobe.com/fonts/itc-avant-garde-gothic);
}
 
@font-face {
    font-family: 'Beloved Script';
    src: url(beloved script.ott);
}

div.container{
    max-width: 60em;
    margin:0 auto;
}

header{
    grid-column: 1/3;
}

figure{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 2fr 1fr;
}

main{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.ingredients{
    margin: 1em 0em 0em 0em;
    
}

.directions{
    margin: 1em 0em 0em 0em;
}
}

h1 {
    color: rgb(255,255,255);
    background-color: rgb(150,40,40);
    text-align: center;
    font-size: 3em;
    font-family: 'Beloved Script';
    margin: 0em 0em 0em 0em;
    padding: 0.5em 0.5em;
    line-height: 1.2em;
}
h2 {
    font-family:ITC Avant Garde Gothic Pro;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    color: rgb(120,120,120);
}

figcaption {
    font-family: ITC Avant Garde Gothic Pro;
    color: rgb(120,120,120);
    margin: 0.5em 0.5em;
    font-size: 0.75em;
    text-align: center;
}
h3 { 

    color: rgb(255,255,255);
    background-color: rgb(120,120,120);
    font-size: 1.8em;
    text-align: center;
    font-family: Beloved Script;
    padding: 0.25em;
}

ol, ul {
    margin: 1em 0.5em 0.5em 2em;
    font-family: ITC Avant Garde Gothic Pro;
    color: rgb(150,40,40);
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0.5em;
    
    
}
footer {
    background-color: rgb(150,40,40);
    color: rgb(250,250,250);
    text-align: center;
    font-family: ITC Avant Garde Gothic Pro;
    padding: 1em;
    margin: 0.5em 0em 0em 0em;
    
}




/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
